.modal-dialog{
    max-width: 100%;
    transform: none !important;
}
.usersHome {
    background-color: red;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
}
.usersHome:hover {
    background-color: #9b1e1e;
}

@media screen and (max-width: 600px) {
    
    .modal-dialog{
        transform: translate(0, 0) !important;
    }
    #video
    {
        position: initial !important;
        width: 100% !important;
    }
  }